body {
    font-family: Helvetica, sans-serif;
    font-size: 1em;
    background-color: #fff;
    color: #000;
}

h1 {
    font-size: 2em;
    color: #69c;
}

h2 {
    font-size: 1.5em;
    color: antiquewhite;
}

h1, #whatever {
    something: else;
}

#container {
    width: 80%;
    margin: 0 auto 0 auto;
    color: rgb(200, 100, 50);
}

#notused {
    background-color: #000;
    font-size: 20px;
}
